@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#page1{
    background-color: #ea5045;
}

#page3{
    background-color: #59CBE8;
}
h1{
    font-family: "ubuntu";
    color: white;
    font-size: 2.5em;
    margin-left: 3em;
}

h1.greyfronter{
    font-family: "ubuntu";
    color: dimgrey;
    font-size: 2.5em;
    margin-left: 3em;
}

h1.whitefronter{
    font-family: "ubuntu";
    color:white;
    font-size: 2.5em;
    margin-left: 3em;
    margin-top:0;
    width: 150px;
    height: 50px;

}

.return{
    width: 60px;
    margin-top: 1em;
    margin-left: 1em;
    cursor: pointer;
}


#forgot{
    color: black;
    cursor: pointer;
    font-family: "helvetica";
    margin-left:5.5em;
    margin-top: 2em;
}

h3{
    font-family:"helvetica";
    color: white;
    padding-left:2em;
    margin-bottom: 0;
}

h2{
    font-family: "ubuntu";
    color: #ea5045;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

h2.subhead{
    font-family: "ubuntu";
    color: #524D4D;
    text-align: center;
    margin-bottom: 0;
    font-size: 30px
}
p{
    font-family:"helvetica";
    color: white;
    padding-left:3em
}

#login{
    height: 35px;
    width: 300px;
    margin-left:3em;
}

#password{
    height: 35px;
    width: 300px;
    margin-left:3em;
}


#remember{
    color: white;
    margin-left: 16em;
}
#btn{
    width: 6em;
    height: 2.5em;
    background-color: black;
    color: white;
    font-family: "helvetica";
    font-size: 1em;
    margin-left: 9.5em;
    margin-top: 1em;
    cursor: pointer;
}


input{
    background-color: mintcream;
    font-family:"helvetica";
    border-radius: 8px;

}

.profile {
    height: 160px;
    width: auto;
    margin-left: 6.5em;
}

#profiletext{
    color: black;
    font-family: "ubuntu";
    margin-left: 7em;
    cursor: pointer;
}

.submissions{
    transition: 1s all;
}

.submissions:hover{
    text-decoration: underline;
    color: black;

}

table, th, td{
    border: 1px black;
    border-collapse: collapse;
    background-color: #C7EDF7;
    width: 92%;
    margin-top: 2em;
    margin-left: 1em;
    border-radius: 20px;
}

th, td{
   padding: 7px;
   text-align: left;
}
.tableheading{
    color: #0762C8;
    font-family: "helvetica";
}

.selected{
    cursor: pointer;
    transition: 1s all;
}

.selected:hover{
    color: #0762C8;
    transition: 1s all;
}

.burger:hover {
    background-color:#EA5045;
    cursor: pointer;
}

.menu{
    width: 35px;
    margin-left: 21em;
    margin-top: 0;
    cursor: pointer;
}

.burger{
    height: 5px;
    margin: 6px 0;
    background-color: black;
}

#searchbar{
    margin-left: 8em;
    width: 200px;
    height: 18px;
    margin-top: 1em;
    background-color: #C7EDF7;
}
#teacher{
    width: 50px;
}

#approve{
    width: 50px;
}
#download{
    background-color:#1669AF;
    width: 150px;
    height: 40px;
    color: white;
    font-family: "Helvetica";
    margin-left:9em;
    cursor: pointer;
}

.red{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    height: 0;
    width: 350px;
    background-color: #EA5045;
    overflow: hidden;
    transition: 1s;
    margin-left: 2em;
    transition: .5s cubic-bezier(.05,.33,.75,1.67);
}

.open{
    height: 200px;
}

.redlist{
    color: white;
    font-size: 25px;
    text-align: center;
}

#photo{
    width: 100px;
    margin-top: 1em;

}

#language{
    margin-left: 4em;
}

a:visited{
    color: hotpink;

}

#options{
    margin-left: 8.5em;
    margin-top: 1em;
}

a{
    text-decoration: none;
}

.fade {animation: fade 2s forwards;}
@keyframes fade{
    100%{
        opacity:0.1;
    }
}

.pointer {
    cursor: pointer;
}
