@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#page1{
    background-color: #ea5045;
}

#page3{
    background-color: #59CBE8;
}
h1{
    font-family: "ubuntu";
    color: white;
    font-size: 2.5em;
    margin-left: 3em;
}

h1.greyfronter{
    font-family: "ubuntu";
    color: dimgrey;
    font-size: 2.5em;
    margin-left: 3em;
}

h1.whitefronter{
    font-family: "ubuntu";
    color:white;
    font-size: 2.5em;
    margin-left: 3em;
    margin-top:0;
    width: 150px;
    height: 50px;
}

.return{
    width: 60px;
    margin-top: 1em;
    margin-left: 1em;
}

#forgot{
    color: black;
    cursor: pointer;
    font-family: "helvetica";
    margin-left:5.5em;
    margin-top: 2em;
}

h3{
    font-family:"helvetica";
    color: white;
    padding-left:2em;
    margin-bottom: 0;
}

h2{
    font-family: "ubuntu";
    color: #ea5045;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

h2.subhead{
    font-family: "ubuntu";
    color: #524D4D;
    text-align: center;
    margin-bottom: 0;
    font-size: 30px
}
p{
    font-family:"helvetica";
    color: white;
    padding-left:3em
}

#login{
    height: 35px;
    width: 300px;
    margin-left:3em;
}

#lower{
    color: white;
    margin-left: 16em;
}
#btn{
    width: 6em;
    height: 2.5em;
    background-color: darkred;
    color: white;
    font-family: "helvetica";
    font-size: 1em;
    margin-left: 9.5em;
    margin-top: 1em;
    cursor: pointer;
}

input{
    background-color: mintcream;
    font-family:"helvetica";

}

.profile {
    height: 160px;
    width: auto;
    margin-left: 6.5em;
}

#profiletext{
    color: black;
    font-family: "ubuntu";
    margin-left: 7em;
    cursor: pointer;
}

.submissions{
    transition: 1s all;
}

.submissions:hover{
    text-decoration: underline;
    color: black;

}


